#walken {
  display: none;
}

.important {
  color: red;
  cursor: pointer;
}

#less {
  display: none;
}

.freedom{
  background-image: url(../img/flag.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.green {
  background-image: url(../img/green.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.guideToGalaxy {
  background-image: url(../img/42.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: black;
}
